@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: gray;
}

nav
{   margin-top: 10px;
    border: solid 3px gray;
    background-color:  white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    padding: 1rem;
}
ul
 {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
li
 {
    font-size: 1rem;
    list-style: none;
}